/* FONTS */

/* COLORS */
$whiteColor: #ffffff;
// Media
$desktop: 1024px;
$tablet: 1023px;
$phone: 767px;
// Other
$transition: all ease 0.15s;

/* PROJECT SETTINGS */
$globalBg: $whiteColor;
$globalLineHeight: 1.45;

$globalFont: 'IdealGothic-Bold', sans-serif;
