@font-face {font-family: 'IdealGothic-Bold';
font-display: swap;
src: url("../fonts/IdealGothic-Bold.woff") format("woff"), url("../fonts/IdealGothic-Bold.woff2") format("woff2");
font-weight: 700;
font-style: normal;
}
